# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
webapp/dist
webapp/tmp
webapp/out-tsc
webapp/bazel-out

# Node
webapp/node_modules
webap/pnpm-debug.log
webapp/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
webapp/.angular/cache
webapp/.sass-cache/
webapp/connect.lock
webapp/coverage
webapp/libpeerconnection.log
webapp/testem.log
webapp/typings

# System files
.DS_Store
Thumbs.db
